/*
.nav__link{
    color: #10203A;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    font-family: 'Oswald', sans-serif;
} */

/* GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    scroll-behavior: smooth;
} */

body {
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
}

/* HEADER */
/* .container {
    width: 1500px;
    background-color: rgb(255, 0, 0);
} */

header {
    height: 100px;
}

.row {
    width: 100%;
    max-width: 1536px;
    height: 50px;

    position: fixed;
    top: 0px;
    padding: 10px;
    left: 10%;
    z-index: 2;
    
    background-color: white;
}

.caja_logo{
    width: 10%;
    float: left;
    border: solid 0px yellowgreen;
}

.logo img{
    height: 75px;
    width: 75px;
    border: solid 0px black;
}


.nav__list {
    list-style: none;
    font-size: 0;
}

.nav__item {
    display: inline-block;
    margin: 0 2%;
    width: 10%;
    position: relative;
    font-size: 25px;
}

ul ul {
    position: absolute;
    display: none;
}

.nav__sub_item {
    display: block;
}

ul li:hover ul{
    display: block;
    background-color: white;
    width: 100px;
}

.nav__link{
    text-decoration: none;
    font-style: italic;
    color: #2c2828
}

/* MAIN */
.main__section{
    position: relative;
    margin: 0 auto;
    height: 50%;
    width: 80%;
    text-align: center;
    background-color: #ca7d76;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(59, 47, 47);
}

.main__h1--image{
    background-image: "https://mercado.com.ar/wp/wp-content/uploads/2020/10/Essen.jpg";
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main__h1--image img{
    width: 95%;
    margin: 3% 0 0 0;
}

.main__h1--text{
    color: #2c2828;
    font-style: italic;
    /* text-align: center;*/
    position: absolute;
    top:5%;
    width: 95%;
    margin: 0;
    font-size: 300%;
}

.Info_2 {
    margin: 5%;
}

.Info_2 p {
    width: 30%;
    display: inline-block;
}

.Info_2 iframe{
    width: 69%;
}

.btn-enviar{
    background-color: #2CA93B;
}

.btn-limpiar{
    background-color: #D02222;
}

.btn-continuar{
    background-color: #ED8728;
}

/* PRODUCTOS */
.prod__h1{
    font-style: italic;
    font-size: 50px;
}

.aqua {
    height: 600px;
    width: 90%;
    margin: 0 auto;
    background-color: #B2F9FC;
}
.aqua h2{
    font-style: italic;
    font-size: 50px;
}
.aqua img{
    float: left
}
.aqua p{
    width: 50%;
    font-size: 30px;
    float: right
}

.terra {
    height: 600px;
    width: 90%;
    margin: 0 auto;
    background-color: #CFB784;
}
.terra h2{
    font-style: italic;
    font-size: 50px;
}
.terra img{
    float: right
}
.terra p{
    width: 50%;
    font-size: 30px;
    font-family: Verdana;
    float: left
}

.marsala {
    height: 600px;
    width: 90%;
    margin: 0 auto;
    background-color: #A2416B;
}
.marsala h2{
    font-style: italic;
    font-size: 50px;
}
.marsala img{
    height: 500px;
    float: left
}
.marsala p{
    width: 50%;
    font-size: 30px;
    float: right
}

.pink {
    height: 600px;
    width: 90%;
    margin: 0 auto;
    background-color: #FFDEFA;
}
.pink h2{
    font-style: italic;
    font-size: 50px;
}
.pink img{
    height: 500px;
    width: 400px;
    float: right
}
.pink p{
    width: 50%;
    font-size: 30px;
    font-family: Verdana;
    float: left
}

.index__img {
    width: 18%;
}

.index__button__combo {
    background-color: #D02222;
    width: 20%;
    margin: 15px 40%;
    padding: 2%;
    border-radius: 15px;
}

/* FOOTER */
footer {
    text-align: center;
    max-width: 1536px;
    margin: 50px auto;
    padding: 10px;
    width: 100%;
    border: solid 0px red;
}

footer img {
    float: left;
}

.footer_index{
    margin: 0 auto 10px
}

.fa-6x {
    top: 90%;
    position: sticky;
    float: right;
}